<!DOCTYPE html>
<html>
<head>
    <title>基本参数设置</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("manage:basesetting:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("manage:basesetting:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("manage:basesetting:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">参数名称</div>
                <div class="col-sm-10">
                    <input id="bsname" type="text" class="form-control" v-model="basesetting.bsname" placeholder="参数名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">参数值</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="basesetting.bsvalue" placeholder="参数值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="basesetting.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">参数说明</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="basesetting.bsexplain" placeholder="参数说明"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/manage/basesetting.js?_${.now?long}"></script>
</body>
</html>
