<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <!--<div class="grid-btn">
			<#if shiro.hasPermission("manage:ipaddress:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("manage:ipaddress:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("manage:ipaddress:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>-->
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" v-model="q.ip" @keyup.enter="query" placeholder="用户名、IP">
        </div>
        <a class="btn btn-default" @click="query">查询</a>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户访问IP</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.ip" placeholder="用户访问IP"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">城市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.city" placeholder="城市"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">省份</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.province" placeholder="省份"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国家</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.country" placeholder="国家"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户昵称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.nickName" placeholder="用户昵称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登陆时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ipAddress.loginTime" placeholder="登陆时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/manage/ipaddress.js?_${.now?long}"></script>
</body>
</html>