<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.param" @keyup.enter="query" placeholder="用户名、群组、角色">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("manage:usergroup:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("manage:usergroup:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("manage:usergroup:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">用户</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="userGroup.userName" placeholder="用户" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">群组</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="userGroup.groupName" placeholder="群组" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">在群昵称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="userGroup.nick" placeholder="在群昵称" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">在群角色</div>
            <div class="col-sm-10">
                <label v-for="role in roleList" class="checkbox-inline">
                    <input type="radio" name="role" :value="role.code" v-model="userGroup.role"/>{{role.value}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<!-- 选择 -->
<div id="dictLayer" style="align:center;display: none;padding:10px;">
    <ul id="dictTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/manage/usergroup.js?_${.now?long}"></script>
</body>
</html>
