<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showDiag == 0">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名、昵称、手机号">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("manage:user:topup")>
                <a class="btn label-warning" @click="topup"><i class="fa fa-credit-card"></i>&nbsp;充值</a>
            </#if>
            <#if shiro.hasPermission("manage:user:cash")>
                <a class="btn label-info" @click="cash"><i class="fa fa-money"></i>&nbsp;提现</a>
            </#if>
            <#if shiro.hasPermission("manage:user:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("manage:user:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("manage:user:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showDiag == 1" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">用户名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.accountName" placeholder="用户名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">密码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.password" placeholder="密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.phone" placeholder="手机号码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.name" placeholder="名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="0" v-model="user.sex"/> 未设置
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="1" v-model="user.sex"/> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="2" v-model="user.sex"/> 女
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">年龄</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.age" placeholder="年龄"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">头像地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.profilePicture" placeholder="头像地址"/>
                    <!--<image src={{user.profilePicture}} width="24" height="24"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.createTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">是否禁用</div>
                <label class="radio-inline">
                    <input type="radio" name="isForbidden" value="0" v-model="user.isForbidden"/> 否
                </label>
                <label class="radio-inline">
                    <input type="radio" name="isForbidden" value="1" v-model="user.isForbidden"/> 是
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">登录时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.loginTime" placeholder="登录时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机是否验证</div>
                <label class="radio-inline">
                    <input type="radio" name="isCheckPhone" value="0" v-model="user.isCheckPhone"/> 否
                </label>
                <label class="radio-inline">
                    <input type="radio" name="isCheckPhone" value="1" v-model="user.isCheckPhone"/> 是
                </label>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">金币</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="user.goldCoin" placeholder="金币"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div v-show="showDiag == 2" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">充值用户：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.accountName" placeholder="用户名" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">昵称：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.name" placeholder="昵称" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">当前金币：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.goldCoin" placeholder="金币"  readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">充值金额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="m.money" placeholder="充值金额"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="m.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnTopup" data-loading-text="保存中..." @click="topupUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div v-show="showDiag == 3" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">提现用户：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.accountName" placeholder="用户名" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">昵称：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.name" placeholder="昵称" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">当前金币：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.goldCoin" placeholder="金币"  readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">提现金额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="m.money" placeholder="提现金额"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注：</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="m.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnCash" data-loading-text="保存中..." @click="cashUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>


</div>

<script src="${request.contextPath}/statics/js/modules/manage/user.js?_${.now?long}"></script>
</body>
</html>
